@{
    ViewBag.Title = "Revenue";
}

<form>
    <fieldset>
        <legend>Search Criteria</legend>
        <div>
            <label>Start Date</label>
            <input />
            <label>End Date</label>
            <input />
            <label>Country</label>
            <select>
                <option value="*">All</option>
                <option value="Norway">Norway</option>
                <option value="Sweden">Sweden</option>
            </select>
        </div>
        <div>
            <label>Path Name</label>
            <input />
        </div>
        <div>
            <label>Publisher</label>
            <input />
            <input type="submit" />
        </div>
    </fieldset>
</form>
